.menu-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
}

.search-bar {
    height: 40px;
    border: 1px solid #000000;
    border-radius: 25px;
    padding-left: 15px;
    margin: 15px 0;
    width: 100%;
    /* Adjust width as necessary */
}

.categories-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.category-button {
    background-color: #f7f7f7;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.category-button.selected {
    background-color: #223d3c;
    color: #ffffff;
}

.menu-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-container {
    background-color: #223d3c;
    margin: 9px;
    padding: 15px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    width: 120px;
}

.item-image {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #ffffff;
}

.item-name {
    font-family: 'Poppins-Bold';
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 3px;
}

.item-price {
    font-family: 'Poppins';
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 3px;
}

.add-button {
    background-color: #d5ddd4;
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.cart-icon {
    width: 30px;
    height: 30px;
}