.sign-up-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #082c24;
    /* Match title color */
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-container {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-size: 16px;
    box-sizing: border-box;
}

.password-container {
    display: flex;
    align-items: center;
}

.password-container input {
    flex: 1;
}

.password-container button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.password-container button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-top: 10px;
}

.loading {
    color: black;
    text-align: center;
    margin-top: 10px;
}

.submit-button {
    background-color: #223d3c;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.link-text {
    text-align: center;
    margin-top: 20px;
}

.link {
    color: #007bff;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}