.update-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
  
  .header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: serif;  /* Custom font */
    color: #082c24;
    text-align: center;
  }
  
  .input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    width: 100%;
  }
  
  .Updatebutton {
    background-color: #223d3c;
    padding: 15px;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
  }
  .Updatebutton:hover {
    background-color: #1a2a2a; /* Darken on hover */
    transform: translateY(-2px); /* Slight lift effect on hover */
}
  
  .button:disabled {
    background-color: #cccccc; /* Change color to indicate it's disabled */
  }
  
  .label {
    color: black;
  }
  